.header {
  height: 100px;
  background: #355c7d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 1px solid rgb(179, 176, 176);
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  top: 0;
}

.navList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  top: 90px;
  left: 0;
  gap: 10px;
  background: #1d976c;
  background: #355c7d;
  background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
}

.dropdown {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 50px;
  border-bottom: 1px solid rgb(179, 176, 176);
  background: #1d976c;
  background: #355c7d;
  background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
}

.listWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainServices {
  font-size: 26px;
  padding: 20px;
  border-bottom: 1px solid #a5a2a2;
}

.additionalServices {
  font-size: 18px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 50px;
    height: 50px;
  }
}