.header {
  height: 100px;
  background: #355c7d;
  background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  border-bottom: 1px solid rgb(179, 176, 176);
  color: white;
}

.logo {
  width: 70px;
  height: 70px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-left: 50px;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding-right: 50px;
  font-weight: 400;
}

.dropdown {
  height: auto;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid rgb(179, 176, 176);
  background: #1d976c;
  background: #355c7d;
  background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
}

.listWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 50px 0;
  gap: 20px;
}

.mainServices {
  font-size: 26px;
  padding-right: 50px;
  border-right: 1px solid #a5a2a2;
}

.additionalServices {
  font-size: 18px;
}

@media screen and (min-width: 765px) and (max-width: 1024px) {
  .logo {
    width: 50px;
    height: 50px;
  }

  .navList {
    width: 60%;
  }
}